html {
    background-color: #CCC2a9;
    color: #3E3324;
    font-family: 'Inria', serif;
    height: 75%;
}

body {
    height:100%;
}

#logo {
    width: 100px;
    padding: 20px;
}

#nav{
    float: right;
    font-size: 110%;
    margin-top: 90px;
    margin-right: 5%;
}

#nav li{
    margin: 20px;
    display: inline;
}

#nav a{
    color: #3E3324;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
}

.lines h1,h2,p{
    margin: 0;
}

#title {
    float: left;
    width: 50%;
    margin: 5%;
    font-size: 300%;
    align-self: flex-end;
}

.flex {
    display: flex;
    width: 100%;
}

#signup {
    background-color: #E6e6e6;
    float: right;
    width: 40%;
    height: 100%;
    text-align: center;
    margin-right: 6%;
}

#newsletter {
    font-size: 170%;
    margin-top: 15%;
}

input, textarea {
    background-color: #d8d4d4;
    border-color: #3E3324;
}

button {
    background-color: #3E3324;
    color: #E6e6e6;
    font-family: 'Inria', serif;
}

#signup input {
    margin-top: 27%;
    font-size: large;
    margin-bottom: 10%;
    height: 50px;
    width: 50%;
}

#subscribe {
    font-size: 150%;
    height: 10%;
    width: 50%;
}

.question {
    background-color: #d8d4d4;
    margin: 25px;
    padding: 30px;
}

.question h2 {
    font-size: 300%;
}

.question p {
    font-size: 115%;
    margin-left: 55px;
    margin-top: 10px;
}

img[alt="Healthy villi vs celiac villi"] {
    float: right;
    height: 150px;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 25px;
}

#products_title {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

#products_title:before {
    content: "";
    display: block;
    background: #3E3324;
    width: 25%;
    height: 3px;
    top: 30%;
    left: 5%;
    position: absolute;
}

#products_title:after {
    content: "";
    display: block;
    background: #3E3324;
    width: 25%;
    height: 3px;
    top: 30%;
    right: 5%;
    position: absolute;
}


/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-white{
    background-color: transparent;
    width: 300px;
    height: 525px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-pink {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-white:hover .flip-card-inner,  .flip-card-pink:hover .flip-card-inner{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-white .flip-card-front {
    background-color: #e6e6e6;
    color: #3E3324;

}

/* Style the back side */
.flip-card-white .flip-card-back {
    background-color: #e6e6e6;
    color: #3E3324;

    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-pink .flip-card-front {
    background-color: #d8d4d4;
    color: #3E3324;
}

/* Style the back side */
.flip-card-pink .flip-card-back {
    background-color: #d8d4d4;
    color: #3E3324;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}



.product_image {
    margin-top: 10%;
    height: 50%;
}

.product_caption {
    font-size: 150%;
    margin: 10%;
}

.product_description {
    margin: 10%;
    font-size: 115%;
}

#products {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 15px;
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
}

.product_white {
    grid-row-end: span 3;
}

.product_pink {
    grid-row-end: span 2;
}

#cup4cup {
    order: 1;
}

@media (min-width: 1400px) {
    #products {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 910px) {
    #products {
        grid-template-columns: 50% 50%;
    }
    #cup4cup {
        order:0;
    }
}

@media (max-width: 600px) {
    #products {
        grid-template-columns: 100%;
    }
}

#contact {
    display: inline-block;
    background-color: #E6e6e6;
    width: 25%;
    padding: 7% 12% 7% 12%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
label {
    font-size: 120%;
    display: block;
    width: min-content;
}

#contact h1 {
    font-size: 250%;
    margin-top: 0;
}


#contact div input {
    display: inline;
    width: 100%;
    height: 30px;
}

#contact div {
    margin-top: 8%;
}

#contact button {
    margin-top: 7%;
    width: 85%;
    height: 13%;
    font-size: 130%;
}


textarea {
    width: 100%;
    height: 70px;
    border-width: 2px;
}



.card {
    background-color: #e6e6e6;
    border-radius: 15px;
    margin: 15% auto;
    width: 40%;
    height: 55%;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    border: 1px solid #aaa;
}

.card .avatar {
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    width: 35%;
    border-radius: 50%;
    margin-top: -120px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li img{
    width: 30px;
    padding: 20px 10px;
}

.contacts li {
    display: inline-block;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#info {
    width: 440px;
    font-size: 140%;
    text-align: justify;
    margin-right: 8%;
    margin-left: 8%;
}

#info p {
    margin-top: 9%;
}
